.msg-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.msg-container:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.msg-img .MuiAvatar-root {
  margin-left: 12px;
  height: 50px;
  width: 50px;
}

.flex {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #374045;
  align-items: center;
  margin-left: 20px;
  width: 75%;
}

.msg-del {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 6px;
}

.time .times {
  color: rgb(130, 243, 130);
  font-size: 16px;
}

.unread {
  display: flex;
  justify-content: center;
}

.unread .unread-msg {
  background: rgb(130, 243, 130);
  color: black;
  font-size: 14px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
